body{
    background-color: #dedede;
}
div{
    background-color: rgb(121, 121, 218);
    border-radius: 20px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}